<ul class="pagination">
    {{#paging}}
      {{#hasPrev}}
        <li class="arrow"><a href="#{{hasPrev}}" class="x-page-link">&laquo;</a></li>
      {{/hasPrev}}
      {{#pages}}
        <li class="{{#isCurrent}}current{{/isCurrent}}{{#isUnavailable}} unavailable{{/isUnavailable}}">
            <a href="#{{page}}"{{^isUnavailable}} class="x-page-link"{{/isUnavailable}}>
                {{#isUnavailable}}&hellip;{{/isUnavailable}}
                {{^isUnavailable}}{{page}}{{/isUnavailable}}
            </a>
        </li>
      {{/pages}}
      {{#hasNext}}
        <li class="arrow"><a href="#{{hasNext}}" class="x-page-link">&raquo;</a></li>
      {{/hasNext}}
    {{/paging}}
</ul>