<div class="four columns offset-by-eight"><a href="#" class="small button x-tracklist__to-vk">Import selected to VK.com</a></div>
<br><br><br>
<table>
    {{#tracks}}
        <tr>
            <td><label for="{{label}}">{{artist}} &mdash; {{title}}</label></td>
            <td><label for="{{label}}"><input type="checkbox" checked="checked" data-artist="{{artist}}" data-title="{{title}}" class="x-tracklist__to-vk__track" id="{{label}}"></label></td>
        </tr>
    {{/tracks}}
</table>
<div class="four columns offset-by-eight"><a href="#" class="small button x-tracklist__to-vk">Import selected to VK.com</a></div>